{% extends 'base.html' %}
{% block content %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url for('static',filename='styles.css')}}">
{% endblock %}
<h2 style="color: chocolate; text-align: center; font-family: cursive;"> Choose your favorite source of news </h2>
<hr>
<ul>
    {%for newsSource in sources%}
    <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
        <div class="panel" style="border-bottom: 1px solid brown;">
            <div class="panel-heading" style="color: burlywood;">{{newsSource.name}}</div>
            <div class="panel-body" style="background-color: grey; font-size:medium">
                <p>{{newsSource.description | truncate(100)}}</p>
                <a href="/articles/{{newsSource.id}}"  style="color: rgb(11, 18, 124); background-color: rgb(237, 246, 245);"> Read Articles</a>
            </div>
        </div>
    </div>
</ul>